[Unit]
Description=Update Alien Config Creator from GitHub
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/alien-config-creator-update

